@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Andale Mono, monospace,
  
}

@layer components {
  .card {
    @apply py-10 px-6 gap-2 grid grid-cols-2 md:grid-cols-3 md:px-20 md:gap-8 max-w-6xl mx-auto list-none
  }

  .cart-card {
    @apply grid grid-cols-3 gap-7 border-b pb-4 shadow-sm shadow-board-blue text-gray-400
  }

  .btn-checkout {
    @apply p-3 bg-orange-400 rounded text-white font-semibold tracking-widest mt-2 shadow-md hover:bg-orange-300
  }
  .item-container {
    @apply p-3 bg-gray-50 shadow tracking-wide hover:shadow-md hover:hue-rotate-15
  }

  .category-nav {
  @apply border hover:border-gray-700 hover:bg-gray-100 py-2 px-5 text-center w-32
  }

}
/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
